{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <h1>{{ joueur.prenom ~' '~ joueur.nom }}</h1>
            <p>Club : <a href="{{ path('adversaire.club', { id : joueur.numClub }) }}">{{ joueur.nomClub }}</a></p>
            <p>Licence : {{ joueur.licence }}</p>
        </div>
        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            <span class="points">{{ joueur.pointsLicence }}</span>
            <p>Points licence</p>
        </div>
        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            <span class="points">{{ joueur.pointsMensuel | round }}</span>
            <p>Points en direct</p>
        </div>

        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            {% set progAnnuelle = (joueur.pointsMensuel - joueur.pointsLicence) | round %}

            {% if progAnnuelle > 0 %}
                <span class="points positif">{{ progAnnuelle }}</span>
            {% else %}
                <span class="points negatif">{{ progAnnuelle }}</span>
            {% endif %}
            <p>Prog. annuelle</p>
        </div>
        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            <span id="virtualPoints" class="points">...</span>
            <p>Points virtuels</p>
        </div>


        <div class="col-sm-12">
            {% if parties is empty %}
                <h2>Aucune partie validée.</h2>
            {% else %}
                <h2>Rencontres validées :</h2>

                <table id="parties" class="tablesorter table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="header">Date</th>
                        <th class="header">Adversaire</th>
                        <th class="header">Classement</th>
                        <th class="header">Gain</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for partie in parties %}
                        <tr>
                            <td>
                                {% if partie.isVictoire %}
                                    <span class="victoire positif">V</span>
                                {% else %}
                                    <span class="defaite negatif">D</span>
                                {% endif %}
                                {{ partie.date | date("d/m/Y") }}
                            </td>
                            <td>
                                <a href="{{ path('adversaire.details', { id: partie.adversaireLicence }) }}">
                                    {{ formatPlayerName(partie.adversaireNom, partie.adversairePrenom) }}
                                </a>
                            </td>
                            <td>{{ partie.adversaireClassement }}</td>
                            <td>
                                {% if partie.pointsObtenus > 0 %}
                                    <span class="positif">{{ partie.pointsObtenus }}</span>
                                {% else %}
                                    <span class="negatif">{{ partie.pointsObtenus }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <div id="myDiv">Chargement des parties non validées...</div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function()
            {
                $("#parties").tablesorter();
            }
        );
    </script>

    <script type="application/javascript">

        // call the controller to get the rendered data
        $.ajax({
            url: "{{ path('joueur.details.notValidatedMatch', { 'id' : joueur.licence }) }}"
        })
            .done(function( data ) {
                // insert data into div
                $("#myDiv").html(data);
                $("#partiesNonValide").tablesorter();
            });

        $.ajax({
            url: "{{ path('joueur.details.virtualPoints', { 'id' : joueur.licence }) }}"
        })
            .done(function( data ) {
                $("#virtualPoints").html(data);
            });
    </script>
{% endblock %}