{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div id="details" class="col-sm-12">Chargement des details...</div>
        <div id="joueurs" class="col-sm-12">Chargement des joueurs...</div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function()
            {
                $("#joueurs").tablesorter();
            }
        );

        $.ajax({
            url: "{{ path('adversaire.club.details', { 'id' : id }) }}"
        })
            .done(function( data ) {
                $("#details").html(data);
            });

        $.ajax({
            url: "{{ path('adversaire.club.joueurs', { 'id' : id }) }}"
        })
            .done(function( data ) {
                $("#joueurs").html(data);
            });

    </script>
{% endblock %}