<h1>{{ club.nom }}</h1>
<div class="col-sm-4">
    <h2>Club</h2>
    Numero : {{ club.numero }} <br />
    {% if club.siteWeb is not null %}
        Site internet : <a href="{{ club.siteWeb }}" rel="nofollow" target="_blank">{{ club.siteWeb }}</a>
    {%  endif %}
</div>
<div class="col-sm-4">
    <h2>Salle</h2>
    <div class="row">
        <div class="col-sm-6">
            {{ club.nomSalle }} <br />
            {{ club.adresseSalle1 }}
            {{ club.adresseSalle2 }}
            {{ club.adresseSalle3 }} <br />
            {{ club.codePostaleSalle ~" "~ club.villeSalle }}
        </div>
        <div class="col-sm-6">
            <a href="http://maps.google.fr/maps?q={{ club.adresseSalle1~","~ club.codePostaleSalle ~" "~ club.villeSalle }}"
               rel="nofollow"
               target="_blank"
               class="btn btn-primary"
            >
                <i class="glyphicon glyphicon-map-marker"></i>
                Itinéraire
            </a>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <h2>Correspondant</h2>
    {{ club.nomCoordo ~" "~ club.prenomCoordo }} <br />
    <a href="mailto:{{ club.mailCoordo }}">{{ club.mailCoordo }}</a> <br />
    {{ club.telCoordo }} <br />
</div>