{%- if breadcrumbs|length -%}
    <ol class="breadcrumb">
        {%- for crumb in breadcrumbs -%}
            {%- set crumbText = crumb.label|replace({ '%%' : '%'})|trans(crumb.labelParameters) -%}
            {%- if crumb.route == app.request.get('_route') -%}
                <li class="active">
                    {{- crumbText -}}
                </li>
            {%- else -%}
                {%- set crumbPath = path(crumb.route, crumb.routeParameters) -%}
                <li>
                    <a href="{{ crumbPath }}" title="{{ crumbText }}">{{ crumbText }}</a>
                </li>
            {%- endif -%}
        {%- endfor -%}
    </ol>
{% endif -%}