{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 text-right">
            <i class="glyphicon glyphicon-refresh" onclick="callAjax(true)" style="cursor: pointer;"></i>
        </div>

        <div class="col-sm-4 col-xs-12">
            <h1>
                {{ (joueur.nom ~' '~ joueur.prenom) | upper }}
                <a href="{{ path('joueur.historique', { id : joueur.id }) }}" class="btn btn-primary">Historique</a>
            </h1>

        </div>
        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            <span class="points">{{ joueur.latestClassement.pointsOfficiels }}</span>
            <p>Points licence</p>
        </div>
        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            <span class="points">{{ joueur.latestClassement.points | round }}</span>
            <p>Points en direct</p>
        </div>
        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            {% set prog = (joueur.latestClassement.points - joueur.latestClassement.pointsOfficiels) | round %}

            {% if prog > 0 %}
                <span class="points positif">{{ prog }}</span>
            {% else %}
                <span class="points negatif">{{ prog }}</span>
            {% endif %}
            <p>Prog. annuelle</p>
        </div>
        <div class="col-sm-2 col-xs-6 text-center text-uppercase">
            <span id="virtualPoints" class="points">...</span>
            <p>Points virtuels</p>
        </div>
        <div class="col-sm-12">
            <div id="container"></div>
        </div>
        <div class="col-sm-12">
            {% if joueur.parties is empty %}
                <h2>Aucune partie validée.</h2>
            {% else %}
                <h2>Rencontres validées :</h2>

                <table id="parties" class="tablesorter table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="header">Date</th>
                        <th class="header">Adversaire</th>
                        <th class="header">Classement</th>
                        <th class="header">Gain</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for partie in joueur.parties %}
                        <tr>
                            <td>
                                {% if partie.isVictoire %}
                                    <span class="victoire positif">V</span>
                                {% else %}
                                    <span class="defaite negatif">D</span>
                                {% endif %}
                                {{ partie.date | date("d/m/Y") }}
                            </td>
                            <td>
                                <a href="{{ path('joueur.adversaire', { id: joueur.id, adversaire : partie.adversaireLicence }) }}">
                                    {{ formatPlayerName(partie.adversaireNom, partie.adversairePrenom) }}
                                </a>
                            </td>
                            <td>{{ partie.adversaireClassement }}</td>
                            <td>
                                {% if partie.pointsObtenus > 0 %}
                                    <span class="positif">{{ partie.pointsObtenus }}</span>
                                {% else %}
                                    <span class="negatif">{{ partie.pointsObtenus }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <div id="myDiv">Chargement des parties non validées...</div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        $(document).ready(function()
            {
                $("#parties").tablesorter();
            }
        );

        Highcharts.chart('container', {

            title: {
                text: 'Evolution des points par journée ( sans dérive )'
            },

            credits: {
                enabled: false
            },

            yAxis: {
                title: {
                    text: 'Points'
                }
            },
            legend: {
                enabled: false
            },

            xAxis: {
                categories: {{ xAxis | raw }}
            },
            series: [{
                name: 'Points',
                data: {{ points | raw}}
            }]

        });

    </script>
    <script type="application/javascript">

        // call the controller to get the rendered data

        function callAjax(forceReload){

            var route1 = "{{ path('joueur.details.notValidatedMatch', { 'id' : joueur.licence, 'reload' : "PARAM" }) }}";
            var route2 = "{{ path('joueur.details.virtualPoints',  { 'id' : joueur.licence, 'reload' : "PARAM" }) }}";

            $.ajax({
                url: route1.replace("PARAM", forceReload)
            })
                .done(function( data ) {
                    $("#myDiv").html(data);
                    $("#partiesNonValide").tablesorter();
                });

            $.ajax({
                url: route2.replace("PARAM", forceReload)
            })
                .done(function( data ) {
                    $("#virtualPoints").html(data);
                });
        }

        callAjax(false);
    </script>
{% endblock %}