{% extends '@AlFFTT/commun/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ joueur.prenom ~' '~ joueur.nom }}</h1>
        </div>
        <div class="col-sm-12">
            <div id="container"></div>
        </div>
        <div class="col-sm-12">
            <table id="historique" class="tablesorter table table-striped table-hover">
                <thead>
                <tr>
                    <th class="header">Saison</th>
                    <th class="header">Points</th>
                </tr>
                </thead>
                <tbody>
                {% for historique in joueur.historiques %}
                    <tr>
                        <td>{{ historique.anneeDebut }}-{{ historique.anneeFin }} ({{ historique.phase }})</td>
                        <td>{{ historique.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function()
            {
                $("#historique").tablesorter();
            }
        );
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        Highcharts.chart('container', {

            title: {
                text: '',
                style: {
                    display: 'none'
                }
            },

            credits: {
                enabled: false
            },

            yAxis: {
                title: {
                    text: 'Points'
                }
            },
            legend: {
                enabled: false
            },

            xAxis: {
                categories: {{ xAxis | raw }}
            },
            series: [{
                name: 'Points',
                data: {{ points | raw}}
            }]

        });
    </script>
{% endblock %}